.carousel-item h5 {
  font-size: 2rem;
  font-weight: 600;
}

.carousel-item p {
  font-size: 1.5rem;
}

.imagem1 {
  color: black;
}

.carousel-caption {
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);

}

.imagem1 {
  color: rgb(1, 15, 65);
  border-radius: 15px;
  font-weight: 700;
}

.imagem1 {
  text-shadow: 0 0 10px rgb(255, 255, 255);
}

.imagem {
  color: rgb(252, 252, 252);
  border-radius: 15px;
  font-weight: 700;
}

.imagem {
  text-shadow: 0 0 10px rgb(10, 0, 0);
}

.carousel {
  overflow: hidden;
}

.carousel-inner img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container mt-5 {
  padding: 2em;
}